<div class="row">

    <div class="col-md-2">
        <div style="overflow:hidden;">
            <button ng-click="$ctrl.accountService.createCategory('New Category',null)" class="btn btn-default">Create Category <span style="color:green" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
            <br>
            <button ng-click="$ctrl.accountService.categorize(null)" class="btn btn-default pull-right">Categorize <span style="color:blue" class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
        <br>
        <!--Sidebar content-->
        <category-list></category-list>

    </div>

    <div class="col-md-8">
        <table class="table charges">
            <thead>
            <tr>
                <th>Memo:</th>
                <th>Category:</th>
                <th>Charge Ammount:</th>
                <th>Date:</th>
            </tr>
            </thead>
            <tr ng-repeat="charge in ($ctrl.accountService.charges | orderBy:$ctrl.ordering | dateBetween:startDate:endDate | filter:$ctrl.filterByCategory | filter:$ctrl.chargeService.transactionSearch)">
                <td>{{charge.memo}}</td>
                <td>{{charge.category_name}}</td>
                <td>{{charge.charge}}</td>
                <td>{{(charge.date.getMonth()+1) + "/"
                    + (charge.date.getDate()+1)  + "/"
                    + charge.date.getFullYear()}}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-2">
        <div>
            <charge-search></charge-search>
        </div>
        <br>
        <div>
            <form name="order">
                <label for="ordering"> Sort By: </label>
                <select name="singleSelect" ng-model="$ctrl.ordering">
                    <option value="-date">Newest First</option>
                    <option value="date">Oldest First</option>
                </select><br>
            </form>
        </div>

        <br>

        <div>
            <label>Show only Uncategorized:</label>
            <input type="checkbox" ng-model="$ctrl.onlyUncategorized">
            <br>
            <label>Start Date:</label>
            <input type="date" ng-change="$ctrl.accountService.updateChargesBetweenDates(startDate, endDate)"
                   ng-model="startDate"/>
           <!-- <input type="date"
                  ng-model="startDate"/> -->
            <br>
            <label>End Date:</label>
            <input type="date" ng-change="$ctrl.accountService.updateChargesBetweenDates(startDate, endDate)"
                   ng-model="endDate"/>
           <!-- <input type="date"
                  ng-model="endDate"/> -->
        </div>

        <div>
            Total Expenses: <span class="pull-right" style="color:red;font-weight:bold">{{($ctrl.accountService.charges | dateBetween:startDate:endDate | filter:$ctrl.filterByCategory | filter:$ctrl.chargeService.transactionSearch) | sum:null:0 | number:2}}</span>
            <br>
            Total Income: <span class="pull-right" style="color:green;font-weight:bold">{{($ctrl.accountService.charges | dateBetween:startDate:endDate | filter:$ctrl.filterByCategory | filter:$ctrl.chargeService.transactionSearch) | sum:0:null | number:2}}</span>
        </div>

    </div>
</div>
