<button ng-click="$ctrl.createCategory('New Category')" class="btn btn-default">Create Cateogry</button>
<br>
<table class="categories table">
 <tr>
  <td><b>Name:</b></td>
 </tr>
 <tr ng-repeat="category in $ctrl.categories">
  <td>
   <span ng-hide="editing" ng-click="editing = true">{{category.category_name}}</span>
   <form ng-show="editing" ng-submit="editing = false; $ctrl.updateCategory(category)">
    <input type="text" ng-model="category.category_name" placeholder="Name" ng-required/>
    <br/>
   </form>
   <button ng-click="$ctrl.deleteCategory(category.category_name)" class="btn btn-default">Delete</button>
  </td>
 </tr>
</table>